# Don't add anything here to the image...
*
.*
# ...except the required package files...
!requirements.txt
!package.json
!docker-entrypoint.sh
!dockerd-sandboxed.sh
# .. and optional certificate files
!*.pem